NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=
SPORTS_API_KEY_A=
SPORTS_API_KEY_B=
SPORTS_API_KEY=
BALLDONTLIE_FIFA_API_KEY=
ADMIN_EMAIL=
NEXT_PUBLIC_ADMIN_EMAIL=
CRON_SECRET=
